* {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
    color: white;
    font-family: 'Inter', sans-serif;
}
body {
    background-color: hsl(0, 0%, 8%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container {
    box-sizing: border-box;
    background-color: hsl(0, 0%, 12%);
    text-align: center;
    max-width: 300px;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
}
.container img {
    width: 70px;
    height: auto;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.name-location p {
    font-size: 14px;
    color: hsl(75, 94%, 57%);
    padding: 5px;
}
.career p {
    padding: 15px 0 5px;
    font-size: 14px;
}
.socials ul {
    list-style: none;
}
.socials ul li{
    background-color: hsl(0, 0%, 20%);
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    border-radius: 5px;
}
.socials ul li a{
    text-decoration: none;
    color: inherit;
}
.socials a:hover {
    background-color: #555;
}